body {
    background-color: black;
}

.card {
    background-color: darkslategrey;
    color: azure;
}

.card-header,
.card-footer {
    background-color: lightgreen;
    font-family: 'Trebuchet MS';
    font-size: larger;
    font-weight: bold;
    color: white;
}

.aSong:hover {
    background-color: rgba(110, 212, 173, 0.1);
}

#prev,
#next,
#play,
#pause {
    font-size: 180%;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}