body {
    background-color: black;
}

.card {
    background-color: darkslategrey;
    color: azure;
}

.card-header,
.card-footer {
    background-color: lightgreen;
    font-family: 'Trebuchet MS';
    font-size: larger;
    font-weight: bold;
    color: white;
}

.aSong:hover {
    background-color: rgba(110, 212, 173, 0.1);
}

#prev,
#next,
#play,
#pause {
    font-size: 180%;
}